@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;1,500&family=Exo:wght@400;500;600;700;900&family=Pixelify+Sans:wght@400;700&family=Poppins:wght@500&family=Roboto:wght@100;300;400;500;700;900&family=Skranji:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.displaynone{
    display: none;
}
body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
  }
  
header{
    width: 100vw;
    height: 8vh;
    background-color: #fff;
    position: fixed;
    z-index: 2;
}
.header{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.header-logo img{
    margin-top: 1rem;
    margin-left: 8rem;
    width: 20vh;
    cursor: pointer;
}
.header-button {
    display: flex;
    align-items: center;
}
.header-button button,.home-button,.key-key button
,.k400 button,.property button{
    margin-right: 8rem;
    padding: 10px 35px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    background-color: #63c1c6;
    color: #fff;
    font-weight: 900;
    text-transform: capitalize;
    animation: getmyoffer 4s infinite linear 2s;
}
@keyframes getmyoffer {
    0% {
        transform: rotate(0deg);
    }
    12% {
        transform: rotate(3deg);
    }
    24% {
        transform: rotate(0deg);
    }
    37% {
        transform: rotate(-3deg);
    }
    50% {
        transform: rotate(0deg);
    }
}
/*------------------------home----------------/*/
.home {
    background: url(imgs/6281e1fe48d02e4a96d333d4.jpeg);
    background-repeat: no-repeat;
    background-attachment:fixed ;
    background-size: cover;
    background-position: center;
    width: 100vw;
    min-height: 98vh;
    display: flex;
    align-items: center;
}
.home-details{

    width: 435px;
    height: 100%;
    margin-left: 8%;
    color: #fff;
    margin-top: -5rem;
}
.home-details h1{
margin: 2rem;
font-size: 40px;
font-weight: 800;
}
.home-details button{
    margin: -2rem 2rem 2rem 2rem;
    font-size: 25px;
    font-weight: 800;
}
.home-details p{
    margin: 2rem;
}
/*----------------------home-end--------------------/*/
/*-----------------------about----------------/*/
.about-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-logos{
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-details h1{
    font-size: 38px;
    width: 320px;
    text-align: center;
    margin: 4rem 0 2rem 0;
}
.about-details .about-logos img{
width: 200px;
margin: 1rem 4rem;
}
.about-details .about-logos h2{
color: #63c1c6;
text-transform: capitalize;
font-size: 35px;
}
.about-details p{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 4rem;
}
.about-cards{
    width: 100vw;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}
.about-card{
    width: 300px;
    margin-bottom: 5rem;
    
}
.about-card img{
    width: 300px;
}
.about-card h1{
    margin: 1.5rem 0;
    color: #63c1c6;
    font-size: 28px;
}
.about-card h4{
    margin: 1rem 0;
}
.about-card:nth-child(2){
    margin-left: 4rem;
    margin-right: 4rem;
}
/*------------------about end-------------------------/*/
/*-----------------key4000+-------------------/*/
.key{
    background: url(imgs/2.jpeg);
    background-repeat: no-repeat;
    background-attachment:fixed ;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 50px 100px;
    color: #fff;
}
.key-key{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.key-key img{
    width: 100px;
    cursor: pointer;
}
.key-key button
,.k400 button,.property button{
    margin-right: 0;
    animation: none;
    margin-top: 2rem;
}

.k400{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #31939366;
    padding: 2rem;
}
.k400 h1{
color: #63c1c6;
font-size: 225px;
}
.k400 h2{
    color: #63c1c6;
    font-size: 32px;
    margin-bottom: 1rem;
}
.k400 p{
    color: rgba(0, 0, 0, 0.644);
    font-size: 23px;
   
}
.k400 button{
font-size: 22px;
font-weight:700 ;
}
/*----------------------------ways/*----------------/*/
.ways{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ways-1-1{
    text-align: center;
    margin: 3rem;

}
.ways-1-1 h1 , .ways-1-2 h1{
font-size: 32px;
margin-bottom: 1rem;
}
.ways-1-1 p,.ways-1-2 p{
    font-size: 23px;
    color: rgba(0, 0, 0, 0.644);
}
.ways-1-2{
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.ways-2{
display: grid;
grid-template-columns: repeat(2,1fr);
background-color: white;
place-items: center;
height: 237px;
width: 950px;
padding: 0 50px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.445);
margin-bottom: 2rem;
border-radius: 30px;
}
.ways-2-1 h1 , .ways-2-2 h1{
text-align: center;
margin-bottom:1rem ;
font-size: 32px;
}
.ways-2-2{
    margin-left: 2rem;
}
.ways-2-2 h1{
    color: #63c1c6;
}
.ways-2-1 div,.ways-2-2 div{
    display: flex;
}
.ways-2-1 div i , .ways-2-2 div i{
    margin-right: 0.4rem;
}
/*------------------------------property/*--------------------/*/
.property{
    width: 100vw;
    height: 312px;
    background-color: #63c1c6;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-items:center ;
    margin-bottom: 2rem;
}
.property-details{
    justify-self: self-end;
    margin-right: 2rem;
}
.property-details h1{
    color: #fff;
    font-size: 32px;
    margin-bottom: 2rem;
}
.property-details p{
    font-size: 18px;
}
.property button{
background-color: #fff;
color: #3a8185;
font-size: 23px;
font-weight: 700;
justify-self: self-start;
align-self: center;
margin-bottom: 5rem;
margin-left: 3rem;
}
/*-----------------------property 2 number----------------/*/
.property2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
.number-title{
    margin: 2rem 0 5rem;
    text-align: center;
    font-size: 32px;
}
.number{
    width: 930px;
    height: 280px;
    border-radius: 30px;
    background-color: #4abfc6; padding:40px;
    grid-template-columns: 1.6fr 1fr;
}
.number-details h1 ,.number-details p{
    margin-left: 2rem;
    margin-bottom: 0rem;
    color: #fff;
}
.number-details button{
    padding: 10px 35px;
    border: none;
    border-radius: 5px;
    background-color: #5b7999;
    color: #fff;
    font-size: 20px;
    margin: 1rem 0;
    margin-left: 2rem;
}
.number-2{
    align-self: self-start;
    justify-self: start;
}
.number-2 p{
color: #fff;
font-size: 16px;
font-weight: 700;
}
.number-2 h2{
    color: #fff;
    font-size: 32px;
    margin-top: 3rem;
    letter-spacing: 3px;
    font-weight: 500;
}
/*--------------------property2 faq----------------/*/
.faq{
    margin: -4rem 0 2rem;
}
.faqbars{
    width: 750px;
    margin: 1rem 0;
    padding: 1rem 3rem 1rem 1.2rem;
    background-color: #fff;
    border: 0.5px solid rgba(128, 128, 128, 0.5);
    cursor: pointer;
    border-radius: 10px;
}
.title-down-up{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.faqbars .title-down-up h3{
    font-size: 18px;
    font-weight: 500;
    color: #111837;
}
.title-down-up i{
    margin-right: -2rem;
    color: #111837;
}
.faqbars p{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 0.3rem;
    position: relative;
    animation: faqp 0.3s 1;
}
@keyframes faqp {
    0%{
        top: -8px;
        left: -8px;
    }
    100%{
        top: 0;
        left: 0;
    }
}
/*-------------------------footer-------------------/*/
.footer{
display: flex;
align-items: center;
justify-content: center;
margin-top: 3rem;
}
.footer-container{
    width: 80vw;
}
.footer-title{
font-size: 14px;
margin: 1rem 0;
}
.footer-description ,.footer-email{
    font-size: 14px;
    margin: 1rem 0;
    color: rgba(0, 0, 0, 0.5);
}
.footer-img{
    width: 100%;   
     text-align: center;
     margin: 3rem 0;
}
.footer-img img {
    width: 50px;
}
/*-----------------in phone-----------------/*/


/*-----------------in phone-----------------/*/


/*-----------------in phone-----------------/*/


/*-----------------in phone-----------------/*/


/*-----------------in phone-----------------/*/

@media screen and (max-width:450px){
    /*------------------------hedier------------------/*/
    header{
        height: 100px;
    }
    .header{
        flex-direction: column;
    }
    .header-logo img{
        margin-top: 1rem;
        margin-left: 8rem;
        width: 20vh;
        cursor: pointer;
    }
    .header-button {
        justify-content: center;
        margin-bottom: auto;
    }
    .header-button button{
        margin-right: -6rem;
        width: 170px;
    }
    /*-----------------------about----------------/*/

.about-details h1{
    font-size: 25px;
}
.about-details .about-logos img{
width: 100px;
}
.about-details .about-logos h2{
font-size: 20px;
}
.about-cards{
    flex-direction: column;
}
.about-card{
    margin: auto;
    margin-bottom: 5rem;
}
.about-card:nth-child(2){
    margin-left: auto;
    margin-right: auto;
}
/*------------------about end-------------------------/*/
/*-----------------key4000+-------------------/*/
.key{
    grid-template-columns: repeat(1,1fr);
    padding: 10px 30px 60px;
}
.k400 h1{
font-size: 150px;
}
.k400 h2{
    font-size: 25px;

}
.k400 p{
    font-size: 15px;
   
}
.k400 button{
font-size: 16px;
}

/*----------------------------ways/*----------------/*/
.ways-2{
grid-template-columns: repeat(1,1fr);
height: 450px;
width: 360px;
padding: 20px 30px;
margin-bottom: 2rem;
}
.ways-2-1 h1 , .ways-2-2 h1{
font-size: 29px;
margin-top: 1rem;
}
.ways-2-2{
    margin-left: 0;
    margin-bottom: 1rem;
}
.ways-2-1 div i , .ways-2-2 div i{
    margin-right: 0.4rem;
}
.ways-2-1 div p ,.ways-2-2 div p{
    margin-bottom:0.25rem ;
}
/*------------------------------property/*--------------------/*/
.property{
    height: 230px;
    margin-bottom: 2rem;
}
.property-details{
    margin-right: 0rem;
    margin-left: 2rem;
}
.property-details h1{
    font-size: 22px;
    margin-bottom: 1rem;
}
.property-details p{
    font-size: 14px;
}
.property button{
font-size: 13px;
margin-bottom: 2rem;
margin-left: 1.5rem;
}

/*-----------------------property 2 number----------------/*/
.number{
    width:90vw;
    height: 380px;
    grid-template-columns:1fr;
}
.number-details h1 ,.number-details p{
    margin-left: -2.5rem;
    margin-bottom: 0.5rem;
}
.number-details button{
    margin: 0.5rem 0 1rem;
    margin-left:-2.5rem;
}
.number-2 h2{
    margin-top: 2rem;
}
/*-----------------------------end-------number property2-------------/*/


.home {
    background: url(imgs/6281e1fe48d02e4a96d333d4.jpeg);
    background-repeat: no-repeat;
    background-attachment:fixed ;
    background-size:cover;
    background-position:0 ;
    width: 100vw;
    min-height: 98vh;
    display: flex;
    align-items: center;
}

.home-details{

    width: 435px;
    height: 100%;
    margin-left: 8%;
    color: #fff;
    margin-top: 0rem;
}
.home-details h1{
    margin-top: 10rem;
}
/*--------------------property2 faq----------------/*/
.faq{
    margin: -4rem 0 2rem;
}
.faqbars{
    width: 346px;
    margin: 1rem 0;
    padding: 1rem 3rem 1rem 1.2rem;
    background-color: #fff;
    border: 0.5px solid rgba(128, 128, 128, 0.5);
    cursor: pointer;
    border-radius: 10px;
}
.title-down-up{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.faqbars .title-down-up h3{
    font-size: 18px;
    font-weight: 500;
    color: #111837;
}
.title-down-up i{
    margin-right: -2rem;
    color: #111837;
}
.faqbars p{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 0.3rem;
    position: relative;
    animation: faqp 0.3s 1;
}
@keyframes faqp {
    0%{
        top: -8px;
        left: -8px;
    }
    100%{
        top: 0;
        left: 0;
    }
}


}